{% extends 'blog/base_generic.html' %}
{% block content %}
<h4>Delete an application</h4>

<p>Are you sure you want to delete this application: <a href="{{ application.get_absolute_url }}" class="text-primary">{{ application }}</a>?</p>

<form action="" method="post" class="django-form">
    {% csrf_token %}
    <div class="table-responsive">
        <table class="table">
            {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-danger" value="Delete">
    </div>
</form>
{% endblock %}