{% extends 'blog/base_generic.html' %}
{% block content %}
<div class="card mx-lg-3 mx-md-2 mx-1 my-2 align-self-stretch">
    <div class="card-header">
        <h5 class="card-title">{{ blog.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">by
            {% if blog.author %}
            <a href="{{ blog.author.get_absolute_url }}">
                {{ blog.author|truncatechars:200 }}
            </a>
            {% else %}
            <span class="text-danger">[deleted]</span>
            {% endif %}
        </h6>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ blog.content|linebreaks }}
        </p>
    </div>
    <div class="card-footer text-muted">
        {{ blog.post_date }}
    </div>
    {% if blog.author and blog.author.user == user or perms.blog.delete_blog %}
    <div class="card-footer">
        <a class="btn btn-danger" href="{% url 'blog:blog-delete' blog.id %}">Delete</a>
        {% if blog.author and blog.author.user == user %}
        <a class="btn btn-primary mx-3 px-4" href="{% url 'blog:blog-edit' blog.id %}">Edit</a>
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="mx-lg-3 mx-md-2 mx-1">
    <h5>Comments</h5>
    <a class="btn btn-primary mb-3" href="{% url 'blog:comment-create' blog.id %}">Add comment</a>
    <br>
    {% for comment in blog.comment_set.all %}
    <hr>
    <h6 class="text-wrap text-break">
        {% if comment.commenter %}
        {% if perms.blog.view_user %}
        <a href="{% url 'blog:profile' comment.commenter.id %}">
            {{ comment.commenter|truncatechars:30 }}
        </a>
        {% else %}
        {{ comment.commenter|truncatechars:30 }}
        {% endif %}
        {% else %}
        <span class="text-danger">[deleted]</span>
        {% endif %}
        :
    </h6>
    {{ comment.content }}
    <br>
    <span class="text-muted">
        {{ comment.post_date }}
    </span>
    {% if comment.commenter == user or perms.blog.delete_comment %}
    <br>
    <a class="text-danger" href="{% url 'blog:comment-delete' comment.id %}">delete</a>
    {% endif %}
    {% empty %}
    No comments yet
    {% endfor %}
</div>
{% endblock  %}